@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  position: absolute !important;
  width: 100% !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/images/newspaper.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  height: 94.1% !important;
  border: none !important;
  top: 0px !important;
  left: 0px !important;
  -webkit-user-select: none !important;
  z-index: -2 !important;
}

.nav-item {
  text-decoration: underline !important;
}

.main-header,
.one-header {
  font-family: 'Pacifico', cursive;
}

#all-events {
  position: absolute;
  margin-top: 2%;
  margin: auto;
  padding: 10%;
  padding-top: 5%;
  animation: 1.5s scroll-up-compromise;
}

section {
  background-image: linear-gradient(
    to bottom right,
    rgba(89, 92, 90, 0.85),
    rgba(33, 36, 33, 0.85)
  );
  position: relative;
  height: fit-content;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 2%;
  margin-top: 45px;
  margin-bottom: 45px;
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
}

#compromise-header,
#fugitive-header,
#tom-header,
#kansas-nebraska-header,
#formation-header,
#dred-header,
#lincoln-header {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.compromise_header,
.fugitive_header,
.tom_header,
.kansas-nebraska_header,
.formation_header,
.dred_header,
.lincoln_header {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.kansas-nebraska-text,
.lincoln-text,
.dred-text,
.formation-text,
.compromise-text,
.fugitive-text,
.tom-text {
  color: white;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.image-wrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.source {
  text-decoration: underline;
}

.scroll-up {
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  border-radius: 0px !important;
  width: 10% !important;
}

@keyframes scroll-up-compromise {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 2%;
  }
}
